<!DOCTYPE html>
<html>
	<% %>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href=".././static/css/style.css">
	</head>
	
	<body>
		<div class="header-nav">
			<h1><%= article.header %></h1>
			<p><%= article.summary %></p>
		</div>
		
		<div class="chatbox">
			<form role="form" action="/messages/create" method="post">
				<input type="text" name="message[body]">
				</input>
				<button type="submit">POST</button>
			</form>
		</div>
	</body>
</html>